/* Configurações gerais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;

    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 0px;
}

html {
    scroll-behavior: smooth;
    font-size: 100% !important;
}

html.pequena {
    font-size: 90% !important;
}

html.grande {
    font-size: 110% !important;
}

body {
    height: 100dvh;
    width: 100dvw;   
}

body::after {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -2;
    background-image: linear-gradient(to right, #FDFEFE, #dedddd);
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(to right, #121212, #1D1D1D);
    opacity: 1;
    transition: opacity 0.2s;
}

body.temaClaro::before {
    opacity: 0;
}

#container {
    display: flex;
    height: calc(100% - 80px);
    transition: filter 0.3s;
}

/* Indisponibilidade */

#indisponivel {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100dvw;
    height: 100dvh;
}

#indisponivel > p {
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    transition: color 0.3s;
}

#indisponivel > p > span {
    color: #4950CB;
}

body.temaEscuro #indisponivel > p {
    color: #FFF;
}

/* Header */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    height: 80px;
    transition: color 0.3s, filter 0.3s;
}

header #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

body.temaEscuro header {
    color: #fff;
}

body.temaClaro header {
    color: #272727;
}

header h1 {
    font-weight: 500;
}

header i {
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    height: 45px !important;
    width: 45px !important;
    border-radius: 50%;
    transition: background-color 0.3s;
}

header i:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

/* Menu */

#menu {
    padding: 15px 0px;
    padding-right: 0px;
    height: 100%;
    transition: width 0.3s;
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
    flex-direction: column;
}

.listas.fechado {
    width: 0px;
    padding: 0px;
}

#filtros {
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-weight: 300;
}

.botao {
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    border: 0px;
    width: 100%;
    padding: 7px 20px;
    border-radius: 200px;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.botao:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

body.temaEscuro .botao {
    color: #fff;
}

body.temaClaro .botao {
    color: #272727;
}

body.temaEscuro .botao.selecionado {
    background-color: rgba(73, 80, 203, 0.1);
}

body.temaClaro .botao.selecionado {
    background-color: rgba(73, 80, 203, 0.15);
}

#listasTitle {
    font-weight: 400;
    font-size: 18px;
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 0.3s;
}

#fecharListas {
    font-size: 24px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: rotate 0.3s, background-color 0.3s;
}

#fecharListas:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

.listas.fechado {
    height: 0px;
    padding: 0px;
}

.listas.fechado #fecharListas {
    rotate: '180deg';
}

.listas.fechado .listaMenu {
    display: none;
}


body.temaEscuro #listasTitle {
    color: #fff;
}

body.temaClaro #listasTitle {
    color: #272727;
}

#listas {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 40%;
    padding: 0 10px;
    margin: 0 auto;
    margin-top: 15px;
    list-style: none;
    overflow: scroll;
}

#listas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 300;
    transition: color 0.3s;
}

#listas #nenhumaLista {
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.nomeLista {
    display: flex;
    align-items: center;
    gap: 10px;

    max-width: 80%;
}

body.temaEscuro #listas li {
    color: #fff;
}

body.temaClaro #listas li {
    color: #272727;
}

.abrir {
    right: 100px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

.abrir:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

#adicionar {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
}

#tema {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.toggle {
    width: 40px;
    height: 20px;
    background: transparent;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    border: 2px solid white;
    box-sizing: content-box;
    transition: border-color 0.3s;
}

.toggle::before {
    content: "";
    position: absolute;
    top: 1.5px;
    left: 2px;
    width: 16.5px;
    height: 16.5px;
    background-color: white;
    border-radius: 40px;
    transition: all 0.3s;
}

#switch {
    display: none;
}

#switch:checked + .toggle::before {
    left: 22px;
}

body.temaClaro .toggle::before {
    background-color: #272727;
} 

body.temaClaro .toggle {
    border-color: #272727;
} 

.temaIconLua {
    font-size: 22px;
}

.temaIconSol {
    width: 26px;
}

.temaIcon {
    transition: all 0.3s;
}

body.temaEscuro .temaIcon {
    color: #fff;
    fill: #fff;
}

body.temaClaro .temaIcon {
    color: #272727;
    fill: #272727;
}

/* Main (lugar das listas) */

main {
    height: 100%;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#menu.fechado + main {
    width: 100% !important;
}

#nenhumaListaMain {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
}

#nenhumaListaMain img {
    width: 30%;
    min-width: 200px;
}

#nenhumaListaMain h1 {
    margin-top: -50px;
    font-weight: 600;
}

#nenhumaListaMain h1 > span {
    color: #4950CB;
}

body.temaEscuro #nenhumaListaMain {
    color: #fff;
}

body.temaClaro #nenhumaListaMain {
    color: #272727;
}

.title {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    transition: color 0.3s;
}

.title span {
    color: #4950CB;
    font-weight: 600;
}

body.temaEscuro .title {
    color: #fff;
}

body.temaClaro .title {
    color: #272727;
}

#listasContainer {
    display: flex;
    justify-content: space-around;
    overflow: scroll;
}

#listasContainer section {
    padding: 20px 0px;
    width: 45%;
    height: auto;
}

#listasEsquerda, #listasDireita {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#listasEsquerda:empty, #listasDireita:empty {
    padding: 0px;
}

#listasContainer .lista {
    width: 100%;
    height: auto;
    border-radius: 12px;
    transition: background-color 0.3s;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    cursor: pointer;

    transition: scale 0.3s;
}

.lista:hover {
    scale: 103%;
}

.lista .editarLista {
    font-size: 21.5px;
    transition: color 0.3s;
    cursor: pointer;
    margin-right: 5px;
}

.lista .editarLista:hover {
    color: rgba(34, 197, 67, 0.6);
}

body.temaEscuro .lista {
    background-color: rgba(73, 80, 203, 0.1);
}

body.temaClaro .lista {
    background-color: rgba(73, 80, 203, 0.15);
}

.lista .esquerda {
    max-width: 70%;
}

.lista .listaTitle {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.3s;
    font-weight: 500;
    width: 100%;
}

.listaTitle span, .nomeLista span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;
}

.lista .listaInfo {
    font-weight: 400;
    transition: color 0.3s;
}

body.temaEscuro .lista {
    color: #fff;
}

body.temaClaro .lista {
    color: #272727;
}

.lista .direita {
    display: flex;
    align-items: center;
}

.direita .listaFiltros {
    font-size: 22px;
    transition: color 0.3s;
    cursor: pointer;
}

body.temaEscuro .direita .listaFiltros {
    color: white;
}

body.temaClaro .direita .listaFiltros {
    color: #272727;
}

.direita .listaFiltros.selecionado {
    color: rgb(227, 204, 45) !important;
}

.direita .listaFiltros:hover {
    color: rgb(227, 204, 45) !important;
}

.direita .excluirLista {
    cursor: pointer;
    font-size: 22px;
    transition: color 0.3s;
}

.direita .excluirLista:hover {
    color: rgb(255, 40, 40) !important;
}

body.temaEscuro .direita .excluirLista {
    color: white;
}

body.temaClaro .direita .excluirLista {
    color: #272727;
}

/* Modal de criar/editar lista */

#modalContainer {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

#modalContainer.ativo {
    opacity: 1;
    pointer-events: all;
}

#modalContainer #modal {
    width: auto;
    max-width: 550px;
    height: auto;
    border-radius: 12px;
    padding: 20px 40px;
}

body.temaEscuro #modal {
    background-color: #1a1b28;
}

body.temaClaro #modal {
    background-color: #d0d1e3;
}

#modal h1 {
    font-weight: 600;
    width: 100%;
    text-align: center;
}

body.temaEscuro #modal h1 {
    color: #fff;
}

body.temaClaro #modal h1 {
    color: #272727;
}

#modal h1 > span {
    color: #4950CB;
}

#informacoesLista {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#iconeEscolhido {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 3px solid;
    cursor: pointer;
    transition: color 0.3s;
    aspect-ratio: 1/1;
}

body.temaEscuro #iconeEscolhido, body.temaEscuro #iconeEscolhido:hover {
    color: #fff;
}

body.temaClaro #iconeEscolhido {
    color: #272727;
}

#informacoesInput {
    position: relative;
}

#informacoesInput input {
    border: solid 2px;
    border-radius: 16px;
    background: none;
    padding: 16px;
    font-size: 16px;
    
    transition: border 150ms;
}

body.temaEscuro #informacoesInput input {
    color: #fff;
}

body.temaClaro #informacoesInput input {
    color: #272727;
}

.label {
    position: absolute;
    left: 15px;
    pointer-events: none;
    transform: translateY(16px);
    transition: 150ms;
}

body.temaEscuro .label {
    color: #fff;
}

body.temaClaro .label {
    color: #272727;
}

#informacoesInput input:focus, #informacoesInput input:valid {
    outline: none;
}

#informacoesInput input:focus ~ label, #informacoesInput input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    padding: 0px 3.2px;
}

body.temaEscuro #informacoesInput input:focus ~ label, body.temaEscuro #informacoesInput input:valid ~ label {
    background-color: #1a1b28;
}

body.temaClaro #informacoesInput input:focus ~ label, body.temaClaro #informacoesInput input:valid ~ label {
   background-color: #d0d1e3;
}

#escolherIcone {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    align-items: center;
}

#opcoesIcones {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 10px;
}

#avancarIcone, #voltarIcone {
    cursor: pointer;
}

#avancarIcone:hover, #voltarIcone:hover {
    cursor: pointer;
    background-color: transparent !important;
}

#escolherIcone i {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 28px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

#escolherIcone i:hover {
    background-color: rgba(73, 80, 203, 0.1);
}

.iconeSelecionado {
    background-color: rgba(73, 80, 203, 0.1);
}

body.temaEscuro #escolherIcone i {
    color: #fff;
}

body.temaClaro #escolherIcone i {
    color: #272727;
}

#botoesCriar {
    display: flex;
    justify-content: right;
    gap: 15px;
}

#botoesCriar button {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 100px;
    color: #4950CB;
    padding: 10px;
    cursor: pointer;

    transition: color 0.3s, background-color 0.3s;
}

#botoesCriar button:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

#botoesCriar button:disabled {
    color: rgba(128, 128, 128, 0.25);
    pointer-events: none;
}

/* Acessibilidade (botões no canto inferior direito) */

#acessibilidade {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
}

#acessibilidade i {
    font-size: 40px;
    transition: color 0.3s;
    cursor: pointer;
}

#acessibilidade i:hover {
    color: #4950CB;
}

body.temaEscuro #acessibilidade {
    color: white;
}

body.temaClaro #acessibilidade {
    color: #272727;
}