/* Configurações gerais do site */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;

    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
    font-size: 100% !important;
}

html.pequena {
    font-size: 90% !important;
}

html.grande {
    font-size: 110% !important;
}

body {
    padding-bottom: 50px;    
}

body::after {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -2;
    background-image: linear-gradient(to right, #FDFEFE, #dedddd);
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(to right, #121212, #1D1D1D);
    opacity: 1;
    transition: opacity 0.2s;
}

body.temaClaro::before {
    opacity: 0;
}

/* Tela de indisponibilidade */

#indisponivel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100dvw;
    height: 100dvh;
}

#indisponivel > p {
    font-weight: 500;
    text-align: center;
    font-size: 20px;
}

#indisponivel > p > span {
    color: #4950CB;
}

body.temaEscuro #indisponivel > p {
    color: #FFF;
}

/* Cabeçalho */

header {
    width: 90%;
    height: 70px;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

header img {
    max-width: 70px;
}

header .tema {
    font-size: 25px;
    color: #FFF;
}

header #temaFundo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.2s;
}

header #temaFundo:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

header #temaFundo i {
    color: #272727; 
}

/* Main */

main {
    margin-top: 10dvh;
    position: relative;
}

/* Hero Section */

#heroSection {
    width: 100%;
    text-align: center;
    user-select: none;
    padding: 0px 20px;
}

#titleContent {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#titleContent #titleImg {
    width: 120px;
}

#heroSection #title {
    font-size: 70px;
    font-weight: 500;
    color: #fff;
    transition: color 0.2s;
}

body.temaClaro #heroSection #title {
    color: #272727;
}

#heroSection #title > span {
    color: #4950CB;
}

#heroSection #slogan {
    color: #fff;
    transition: color 0.2s;
    font-size: 25px;   
}

body.temaClaro #heroSection #slogan {
    color: #272727;
}

#heroBotoes {
    margin-top: 20px;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

#heroBotoes a {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 18px;
}

#heroBotoes #comecar {
    background-color: #4950CB;
    color: #fff;
    transition: scale 0.2s;
}

#heroBotoes #saberMais {
    border: 2px white solid;
    color: white;
    background-color: transparent;
    transition: border 0.2s, color 0.2s, scale 0.2s;
}

body.temaClaro #heroBotoes #saberMais {
    border: 2px #272727 solid;
    color: #272727;
}

#heroBotoes > *:hover {
    scale: 103%;
}

/* Cards */

#cards {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    width: 70%;
    height: auto;
    background-color: transparent;
}

.card {
    width: 30%;
    height: auto;
    min-height: 300px;
    border-radius: 12px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    user-select: none;
    transition: scale 0.3s;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}

.card:has(.parte1:hover) {
    transform: perspective(2000px) rotateX(10deg) rotateY(-10deg) scale(1.05);
}

.card:has(.parte2:hover) {
    transform: perspective(2000px) rotateX(10deg) rotateY(10deg) scale(1.05);
}

.card:has(.parte3:hover) {
    transform: perspective(2000px) rotateX(-10deg) rotateY(-10deg) scale(1.05);
}

.card:has(.parte4:hover) {
    transform: perspective(2000px) rotateX(-10deg) rotateY(10deg) scale(1.05);
}

.partes {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
}

.partes div {
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.partesTop {
    top: 0px;
    right: 0px;
}

.partesBottom {
    bottom: 0px;
    right: 0px;
}

body.temaEscuro .card {
    background-color: rgba(73, 80, 203, 0.1);
}

body.temaClaro .card {
    background-color: rgba(73, 80, 203, 0.15);
}

#sparkleIcon {
    transition: fill 0.3s;
}

.card h2 {
    font-size:28px;
    font-weight: 500;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card h2 svg {
    color: #fff;
}

.card p {
    text-align: justify;
    padding: 0px 30px;
    font-size: 18px;
}


body.temaEscuro .card {
    color: #fff;
}

body.temaClaro .card {
    color: rgba(0, 0, 0, 0.8);
}

/* Cards responsivos */

#cardsResp {
    margin: 0 auto;
    margin-top: 50px;
    display: none;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    user-select: none;
}

#cardsResp > .card {
    cursor: pointer;
    min-height: auto;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.notFocused {
    transform: scale(0.95);
    opacity: 0;
    position: absolute;
    z-index: -10;
    pointer-events: none;
}

.notFocused h2, .notFocused p, .notFocused span {
    display: none;
}

.focused {
    transform: scale(1);
    opacity: 1;
    margin: 0 auto;
    display: flex;
    width: 85%;
}

#dotsResp {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#dotsResp div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px #555555 solid;
    transition: background-color 0.7s;
}

#dotsResp div.posAtual {
    border: none;
    background-color: #4950CB;
}

/* Acessibilidade (botões no canto inferior direito) */

#acessibilidade {
    position: absolute;
    bottom: -50px;
    right: 0;
    padding: 10px 20px;
}

#acessibilidade i {
    font-size: 40px;
    transition: color 0.3s;
    cursor: pointer;
}

#acessibilidade i:hover {
    color: #4950CB;
}

body.temaEscuro #acessibilidade {
    color: white;
}

body.temaClaro #acessibilidade {
    color: #272727;
}