/* Configurações Gerais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;

    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 0px;
}

html {
    scroll-behavior: smooth;
    font-size: 100% !important;
}

html.pequena {
    font-size: 90% !important;
}

html.grande {
    font-size: 110% !important;
}

body {
    height: 100dvh;
    width: 100dvw;   
}

body::after {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -2;
    background-image: linear-gradient(to right, #FDFEFE, #dedddd);
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(to right, #121212, #1D1D1D);
    opacity: 1;
    transition: opacity 0.2s;
}

body.temaClaro::before {
    opacity: 0;
}

#container {
    display: flex;
    height: calc(100% - 80px);
    transition: filter 0.3s;
}

/* Indisponibilidade */

#indisponivel {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100dvw;
    height: 100dvh;
}

#indisponivel > p {
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    transition: color 0.3s;
}

#indisponivel > p > span {
    color: #4950CB;
}

body.temaEscuro #indisponivel > p {
    color: #FFF;
}

/* Header */

header {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    height: 80px;
    transition: color 0.3s, filter 0.3s;
}

header #logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

body.temaEscuro header {
    color: #fff;
}

body.temaClaro header {
    color: #272727;
}

header h1 {
    font-weight: 500;
}

#logoContainer i {
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    height: 45px !important;
    width: 45px !important;
    border-radius: 50%;
    transition: background-color 0.3s;
}

#logoContainer i:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

#logoContainer {
    display: flex;
}

header #temaFundo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.2s;
}

header .tema {
    font-size: 25px;
    color: #272727;
}

header #temaFundo:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

/* Main (conteúdo de fato) */

#container {
    width: 100%;
    height: calc(100% - 80px);
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#esquerda, #direita {
    padding: 20px 40px;
    height: 100%;
}

/* Esquerda, ou seja, lista de tarefas */

#esquerda {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
    border-radius: 12px;

    transition: backgroundColor 0.2s;
}

body.temaEscuro #esquerda {
    background-color: rgba(73, 80, 203, 0.1);
}

body.temaClaro #esquerda {
    background-color: rgba(73, 80, 203, 0.15);
}

#esquerda #headerLista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;

    transition: color 0.2s;
}

body.temaEscuro #esquerda #headerLista {
    color: white;
}

body.temaClaro #esquerda #headerLista {
    color: #272727;
}

#esquerda h1 {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

#esquerda #opcoesFiltros {
    display: flex;
    gap: 10px;
    font-size: 24px;
}

#opcoesFiltros .filtroOpcao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-radius: 100px;
    aspect-ratio: 1/1;
    transition: all 0.3s;
    cursor: pointer;
}

#opcoesFiltros .filtroOpcao:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

.filtroOpcao.selecionado {
    background-color: rgba(128, 128, 128, 0.25);
}

#adicionarTarefas {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 18px;
    border-radius: 100px;
    padding: 5px 0px;
    cursor: pointer;

    transition: background-color 0.3s, color 0.2s;
}

#adicionarTarefas:hover {
    background-color: rgba(128, 128, 128, 0.25);
}


body.temaEscuro #adicionarTarefas {
    color: white;
}

body.temaClaro #adicionarTarefas {
    color: #272727;
}

#tarefasContainer hr {
    margin: 10px 0px;
}

#tarefas {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#nenhumaTarefa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    transition: color 0.2s;
}

body.temaEscuro #nenhumaTarefa {
    color: white;
}

body.temaClaro #nenhumaTarefa {
    color: #272727;
}

#nenhumaTarefa img {
    width: 100%;
}

#nenhumaTarefa h2 {
    text-align: center;
    font-weight: 600;
}

#nenhumaTarefa h4 {
    text-align: center;
    font-weight: 400;
}

#nenhumaTarefa span {
    color: #4950CB;
    font-weight: 600;
}

.tarefa {
    position: relative;
    min-height: 1px;
    display: flex;
    gap: 15px;
    align-items: stretch;
    padding: 10px;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.tarefa:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.esquerda {
    padding-top: 2px;
}

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
}

.checkbox .marcarConcluida {
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #4950CB;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: all 0.2s;
}

.checkbox .marcarConcluida:checked {
    border: none;
}

.checkbox .marcarConcluida:hover {
    background-color: #4950CB;
    opacity: 0.3;
}

.checkbox .tarefaConcluida {
    transition: all 0.2s;
}

.tarefa.concluida .checkbox .marcarConcluida:hover ~ .tarefaConcluida {
    color: #4950CB;
}

.tarefaConcluida {
    display: none;
    position: absolute;
    font-size: 20px;
    left: 0;
}

.opcoes {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;

    transition: background-color 0.3s;
}

.opcoes:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

.checkbox .marcarConcluida:checked ~ .tarefaConcluida {
    display: block;
}

.direita {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.direita .tarefaTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tarefaTitleContainer i {
    position: absolute;
    right: 20px;
}

.direita .tarefaTitle {
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.direita .tarefaDesc {
    width: 100%;
    cursor: pointer;
    max-width: 70%;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;  
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-break: anywhere;
}

.deletarTarefa {
    cursor: pointer;
    transition: color 0.3s;
}

.deletarResponsiva {
    display: none;
}

.deletarTarefa:hover {
    color: rgb(255, 40, 40) !important;
}

.direita h5 {
    font-weight: 400;
}

.direita .tarefaData {
    /* display: none; */
    margin-top: 10px;
    border: 1px solid currentColor;
    border-radius: 100px;
    width: max-content;
    padding: 5px 10px;
    position: relative;

    transition: color 0.2s;
}

body.temaEscuro .tarefa {
    color: white;
}

body.temaClaro .tarefa {
    color: #272727;
}

.inputAlteracao {
    width: 80%;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #4950CB;
    font-size: 16px;

    transition: color 0.2s;
}

.textAreaAlteracao {
    width: 80%;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #4950CB;
    font-size: 12px;
    resize: none;
    overflow: scroll;
    height: 25px;
    max-height: 100px;

    scrollbar-width: 0px !important;

    transition: color 0.2s;
}

body.temaEscuro .inputAlteracao, body.temaEscuro .textAreaAlteracao{
    color: #fff;
}

body.temaClaro .inputAlteracao, body.temaClaro .textAreaAlteracao {
    color: #272727;
}

#tarefasFeitas {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;

    transition: color 0.2s;
}

body.temaEscuro #tarefasFeitas {
    color: #fff;
}

body.temaClaro #tarefasFeitas {
    color: #272727;
}

#tarefasTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tarefasConcluidas.fechada {
    height: 0px !important;
    overflow: hidden;
}

#mostrarConcluidas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;

    transition: background-color 0.3s;
}

#mostrarConcluidas:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

#nenhumaTarefaConcluida {
    width: 100%;
    text-align: center;
    display: none;
}

#nenhumaTarefaConcluida span {
    font-weight: 600;
    color: #4950CB;
}

/* Modal de criar tarefa */

#modalContainer {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

#modalContainer.ativo {
    opacity: 1;
    pointer-events: all;
}

#modalContainer #modal {
    width: 50%;
    max-width: 550px;
    height: auto;
    border-radius: 12px;
    padding: 20px 40px;

    transition: backgroundColor 0.2s;
}

#modal input {
    width: 100%;
}

body.temaEscuro #modal {
    background-color: #1a1b28;
}

body.temaClaro #modal {
    background-color: #d0d1e3;
}

#modal h1 {
    font-weight: 600;
    width: 100%;
    text-align: center;

    transition: color 0.2s;
}

#modal h1 > span {
    color: #4950CB;
}

body.temaEscuro #modal h1 {
    color: #fff;
}

body.temaClaro #modal h1 {
    color: #272727;
}

#informacoesTarefa {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputContainer {
    position: relative;
    width: 100%;
}

.inputContainer input {
    border: solid 2px;
    border-radius: 16px;
    background: none;
    padding: 16px;
    font-size: 16px;
    
    transition: border 150ms, color 0.2s;
}

.inputContainer textarea {
    width: 100%;
    border: solid 2px;
    border-radius: 16px;
    border-bottom-right-radius: 0px;
    background: none;
    padding: 16px;
    font-size: 16px;
    resize: vertical;
    min-height: 120px;
    max-height: 300px;
    
    transition: border 150ms, color 0.2s;
}

body.temaEscuro .inputContainer textarea {
    color: #fff;
}

body.temaClaro .inputContainer textarea {
    color: #272727;
}

.inputContainer textarea:focus, .inputContainer textarea:valid {
    outline: none;
}

.inputContainer textarea:focus ~ label, .inputContainer textarea:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    padding: 0px 3.2px;

    transition: backgroundColor 0.2s, transform 0.3s;
}

body.temaEscuro .inputContainer textarea:focus ~ label, body.temaEscuro .inputContainer textarea:valid ~ label {
    background-color: #1a1b28;
}

body.temaClaro .inputContainer textarea:focus ~ label, body.temaClaro .inputContainer textarea:valid ~ label {
   background-color: #d0d1e3;
}

body.temaEscuro .inputContainer input {
    color: #fff;
}

body.temaClaro .inputContainer input {
    color: #272727;
}

.label {
    position: absolute;
    left: 15px;
    pointer-events: none;
    transform: translateY(16px);
    
    transition: color 0.2s, transform 150ms;

}

.labelUp {
    transform: translateY(-50%) scale(0.8);
    padding: 0px 3.2px;

    transition: backgroundColor 0.2s;
}

body.temaEscuro .labelUp {
    background-color: #1a1b28;
}

body.temaClaro .labelUp {
   background-color: #d0d1e3;
}

body.temaEscuro .label {
    color: #fff;
}

body.temaClaro .label {
    color: #272727;
}

.inputContainer input:focus, .inputContainer input:valid {
    outline: none;
    transition: backgroundColor 0.2s;
}

.inputContainer input:focus ~ label, .inputContainer input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    padding: 0px 3.2px;
}

body.temaEscuro .inputContainer input:focus ~ label, body.temaEscuro .inputContainer input:valid ~ label {
    background-color: #1a1b28;
}

body.temaClaro .inputContainer input:focus ~ label, body.temaClaro .inputContainer input:valid ~ label {
   background-color: #d0d1e3;
}

#botoesModal {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 15px;
}

#botoesModal button {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 100px;
    color: #4950CB;
    padding: 10px;
    cursor: pointer;

    transition: color 0.3s, background-color 0.3s;
}

#botoesModal button:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

#botoesModal button:disabled {
    color: rgba(128, 128, 128, 0.25);
    pointer-events: none;
}

/* Animação legal de tarefa concluida :D */

.marcarConcluida {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animacaoFeito {
    opacity: 1;
    margin-bottom: 0px;
    position: absolute;
    z-index: 7;
    transition: all 1s;
    font-size: 30px;
}

/* Direita (ferramentas) */

#direita {
    width: 60%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible; 
}

#opcoesDireita {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#pomodoro, #taskBot {
    transition: opacity 0.2s;
}

#pomodoro.oculto, #taskBot.oculto {
    opacity: 0;
    pointer-events: none;
    display: none;
}

#opcoesDireita button:not(.selecionado) {
    background-color: transparent;
}

#opcoesDireita button {
    border: 0;
    outline: 0;
}

.navDireita {
    font-size: 20px;
    border-radius: 100px;
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;

    transition: all 0.3s, color 0.2s;
}

.navDireita:not(.selecionado):hover {
    background-color: rgba(128, 128, 128, 0.25) !important;
}

body.temaEscuro .navDireita {
    color: #fff;
}

body.temaClaro .navDireita {
    color: #272727;
}

body.temaEscuro .navDireita.selecionado {
    background-color: rgba(73, 80, 203, 0.1);
}

body.temaClaro .navDireita.selecionado {
    background-color: rgba(73, 80, 203, 0.15);
}

/* Pomodoro */

#pomodoro {
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 15px rgba(73, 80, 203, 0.1) solid;

    transition: backgroundColor 0.2s;
}

#pomodoro #tempoRestante {
    font-size: 80px;
}

#pomodoro #estadoAtual {
    color: #4950CB;
    font-size: 50px;
}

#botoesControles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#botoesControles i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 12px;
    width: 15%;
    aspect-ratio: 1/1;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;

    transition: scale 0.2s, backgroundColor 0.2s;
}

#botoesControles i:hover {
    scale: 110%;
}

body.temaEscuro #botoesControles i {
    background-color: rgba(73, 80, 203, 0.1);
}

body.temaClaro #botoesControles i {
    background-color: rgba(73, 80, 203, 0.15);
}

body.temaEscuro #pomodoro {
    color: #fff;
}

body.temaClaro #pomodoro {
    color: #272727;
}

/* TaskBot */

#taskBot {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    flex: 1 1;
    margin-top: 30px;
    width: 70%;
    background-color: rgba(73, 80, 203, 0.1);
    border-radius: 12px;
    overflow-y: scroll;
}

#taskBot #opcoesPerguntas {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#opcoesPerguntas button {
    width: 100%;
    border: 0;
    font-size: 16px;
    background-color: transparent;
    text-align: left;
    padding: 5px 0px;
    padding-left: 10px;
    border-radius: 100px;
    cursor: pointer;
    transition: backgroundColor 0.3s, color 0.2s;
}

#opcoesPerguntas button.selecionado {
    background-color: rgba(128, 128, 128, 0.25);
}

#opcoesPerguntas button:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

body.temaEscuro #taskBot button, body.temaEscuro #hrPerguntas {
    color: #fff;
}

body.temaClaro #taskBot button, body.temaClaro #hrPerguntas {
    color: #272727;
}

#taskBot #chat {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#hrPerguntas {
    width: 100%;
    gap: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.2s;
}

#hrPerguntas hr {
    width: 100%;
    height: 1px;
    color: currentColor;
}

.balaoConversa {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    line-height: 24px;

    transition: color 0.2s;
}

.balaoConversa.multiLinha {
    align-items: start;
}

.balaoConversa i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px currentColor solid;
    border-radius: 100px;
    padding: 5px;
    aspect-ratio: 1/1;
    width: 45px;
    font-size: 22px; 
}

#pergunta {
    justify-content: end;
}

#pergunta i {
    border-color: #4950CB;
}

body.temaEscuro .balaoConversa {
    color: #fff;
} 

body.temaClaro .balaoConversa {
    color: #272727;
} 

/* Acessibilidade (botões no canto inferior direito) */

#acessibilidade {
    position: absolute;
    bottom: 0px;
    right: 0;
    padding: 10px 20px;
}

#acessibilidade i {
    font-size: 40px;
    transition: color 0.3s;
    cursor: pointer;
}

#acessibilidade i:hover {
    color: #4950CB;
}

body.temaEscuro #acessibilidade {
    color: white;
}

body.temaClaro #acessibilidade {
    color: #272727;
}